@import "_null";

// Основные CSS настройки страницы
body {
	// font-family: "Raleway", sans-serif;
	font-family: "Roboto Condensed", sans-serif;
	background: #fff;
	color: #242121;
	font-weight: 300;
	font-size: 14px;
	line-height: 1.29;
}
.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}
.main {
	flex: 1 1 auto;
}
.none {
	display: none !important;
}
[class*="__container"] {
	max-width: 1220px;
	margin: 0 auto;
	padding: 0px 10px;
}

// Logo
.logo {
	margin-right: 185px;
	// .logo__img

	&__img {
	}
}

// Menu
.menu {
	// .menu__list

	&__list {
		display: flex;
		align-items: center;
		column-gap: 45px;
	}

	// .menu__item

	&__item {
	}

	// .menu__link

	&__link {
		font-weight: 400;
		font-size: 24px;
		line-height: 1.16;
		letter-spacing: 0.6px;
		color: #fff;
		padding-bottom: 5px;
		border-bottom: 1px solid transparent;
		transition: color 0.3s;
		&:hover {
			border-bottom: 1px solid #00b2a0;
		}
	}
}

// Title
.title {
	font-family: "Raleway", sans-serif;
	font-weight: 600;
	font-size: 48px;
	line-height: 1.16;
	letter-spacing: 0.6px;
	color: #01353e;
	// padding-bottom: 32px;
	text-transform: uppercase;
	position: relative;
	&::after {
		content: "";
		position: absolute;
		background-image: url(../img/title-decor.png);
		background-repeat: no-repeat;
		width: 48px;
		height: 85px;
		bottom: -50px;
		right: -25px;
	}
}

// Header
.header {
	background: url("../img/header-bg.jpg") 0 0 no-repeat;

	// .header__container

	&__container {
	}

	// .header__top

	&__top {
		display: flex;
		align-items: center;
		padding-top: 45px;
	}

	// .header__content

	&__content {
		display: flex;
		flex-direction: column;
		align-items: center;
		min-height: calc(100vh - 108px);
	}

	// .header__title

	&__title {
		font-family: "Raleway", sans-serif;
		font-weight: 700;
		font-size: 200px;
		line-height: 1.17;
		letter-spacing: 0.6px;
		color: #0d302c;
		margin-top: auto;
	}

	// .header__subtitle

	&__subtitle {
		font-weight: 400;
		font-size: 24px;
		line-height: 1.16;
		letter-spacing: 0.6px;
		color: #000000;
		margin-bottom: auto;
	}

	// .header__icon

	&__icon {
		margin-bottom: 93px;
	}
}

// About
.about {
	padding: 190px 0 200px;
	// text-align: center;

	// .about__container

	&__container {
	}

	// .about__title

	&__title {
		max-width: 891px;
		margin: 0 auto;
		margin-bottom: 96px;
		text-transform: uppercase;
	}

	// .about__inner

	&__inner {
		display: flex;
		justify-content: space-between;
	}

	// .about__column

	&__column {
		display: flex;
		flex-direction: column;
		row-gap: 30px;
	}

	// .about__text

	&__text {
		max-width: 480px;
		letter-spacing: 0.6px;
	}

	// .about__text--pb18

	&__text--mb18 {
		margin-bottom: 18px;
	}

	// .about__text--pb49

	&__text--mb49 {
		margin-bottom: 49px;
	}
}

// Features
.features {
	background-color: #f8f8f8;
	padding: 200px 0;

	// .features__container

	&__container {
	}

	// .features__title

	&__title {
		max-width: 608px;
		margin: 0 auto;
		margin-bottom: 100px;
		&::after {
			right: -35px;
		}
	}

	// .features__items

	&__items {
		display: flex;
		justify-content: space-between;
		margin-bottom: 103px;
	}

	// .features__item

	&__item {
		display: flex;
		flex-direction: column;
		align-items: center;
		max-width: 350px;
	}

	// .features__item-top

	&__item-top {
		display: flex;
		flex: none;
		column-gap: 10px;
		align-items: center;
		margin-bottom: 15px;
	}

	// .features__item-title

	&__item-title {
		font-weight: 400;
		font-size: 24px;
		letter-spacing: 0.6px;
	}

	// .features__item-title--res

	&__item-title--res {
		line-height: 0.75;
	}

	// .features__item-title--fly

	&__item-title--fly {
		line-height: 1.17;
	}

	// .features__item-title--edu

	&__item-title--edu {
		line-height: 1.17;
	}
	// .features__item-text

	&__item-text {
		letter-spacing: 0.6px;
	}

	// .features__inner

	&__inner {
		display: flex;
		justify-content: space-between;
	}

	// .features__info

	&__info {
		width: 350px;
		flex: none;
	}

	// .features__info-item

	&__info-item {
		padding-top: 8px;
		position: relative;
		&:not(:last-child) {
			margin-bottom: 10px;
		}
		svg {
			display: block;
			margin-bottom: 1px;
		}
		// &::before {
		// 	content: "";
		// 	background-image: url(../img/border-info.svg);
		// 	width: 200px;
		// 	height: 15px;
		// 	position: absolute;
		// 	top: -15px;
		// 	left: 0;
		// }
		span {
			display: block;
			position: absolute;
			right: 45px;
			top: 8px;
			font-weight: 400;
			font-size: 24px;
			line-height: 0.75;
		}
	}

	// .features__text

	&__text {
		max-width: 600px;
		p {
			&:not(:last-child) {
				margin-bottom: 30px;
			}
		}
	}
}

// Benefits
.benefits {
	background: url("../img/benefits-bg.jpg") right top / 50% no-repeat;
	// .benefits__container

	&__container {
	}

	// .benefits__inner

	&__inner {
		padding: 200px 0 147px;
		max-width: 511px;
		margin-right: auto;
	}

	// .benefits__title

	&__title {
		margin: 0 auto;
		margin-bottom: 100px;
		&::after {
			right: -50px;
		}
	}

	// .benefits__text

	&__text {
		p {
			&:not(:last-child) {
				margin-bottom: 30px;
			}
		}
	}
}

// Portfolio
.portfolio {
	padding: 200px 0 0;
	text-align: center;

	// .portfolio__container

	&__container {
	}

	// .portfolio__title

	&__title {
		max-width: 217px;
		margin: 0 auto;
		margin-bottom: 212px;
		&::after {
			right: -50px;
		}
	}

	// .portfolio__filter

	&__filter {
		text-align: left;
		margin-bottom: 50px;
	}

	// .portfolio__btn

	&__btn {
		font-weight: 400;
		font-size: 24px;
		line-height: 0.75;
		letter-spacing: 0.6px;
		text-transform: uppercase;
		background-color: transparent;
		cursor: pointer;
		&:not(:last-child) {
			margin-right: 20px;
		}
	}

	// .portfolio__gallery

	&__gallery {
		column-count: 2;
		column-gap: 40px;
	}

	// .portfolio__gallery-item

	&__gallery-item {
		margin-bottom: 40px;
		position: relative;
		img {
			display: inline-block;
			+ img {
				margin-left: 36px;
			}
		}
		&:hover .portfolio__gallery-link {
			opacity: 0.7;
		}
	}

	// .portfolio__gallery-link

	&__gallery-link {
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;
		background-color: #333333;
		opacity: 0;
		transition: all 0.3s;
	}

	// .portfolio__add

	&__add {
		display: inline-block;
		font-weight: 400;
		font-size: 24px;
		line-height: 0.75;
		letter-spacing: 0.6px;
		text-transform: uppercase;
		border: 1px solid #c4c4c4;
		padding: 24px 91px;
		margin: 10px auto 200px;
	}

	// .portfolio__video

	&__video {
		background: url("../img/video.jpg") center center / cover no-repeat;
		height: 600px;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-bottom: 200px;
	}

	// .portfolio__video-link

	&__video-link {
		cursor: pointer;
	}

	// .portfolio__numbers

	&__numbers {
		max-width: 696px;
		margin: 0 auto;
		display: flex;
		justify-content: space-around;
		padding-bottom: 200px;
	}

	// .portfolio__numbers-item

	&__numbers-item {
		font-weight: 700;
		font-size: 64px;
		line-height: 1.17;
		letter-spacing: 0.6px;
		text-align: center;
		color: #01353e;
		span {
			display: block;
			font-weight: 300;
			font-size: 14px;
			line-height: 1.29;
			text-transform: lowercase;
		}
	}
}

// .blockquote

.blockquote {
	background-color: #f8f8f8;
	margin-bottom: 200px;

	// .blockquote__text

	&__text {
		max-width: 575px;
		margin: 0 auto;
		font-style: italic;
		font-weight: 400;
		font-size: 36px;
		line-height: 1.11;
		letter-spacing: 0.6px;
		padding: 80px 0;
		position: relative;
	}

	span {
		font-weight: 300;
		font-size: 14px;
		line-height: 1.29;
		position: absolute;
		right: -147px;
		bottom: 62px;
	}

	// .blockquote__container
	&__container {
	}
}

// Blog
.blog {
	padding: 0 0 200px;
	text-align: center;

	// .blog__container

	&__container {
	}

	// .blog__title

	&__title {
		max-width: 131px;
		margin: 0 auto;
		margin-bottom: 230px;
		&::after {
			right: -50px;
		}
	}

	// .blog__inner

	&__inner {
		background: url("../img/blog-bg.jpg") 0 0 no-repeat;
		padding: 314px 0 369px;
		position: relative;
		&::after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background: #242121;
			opacity: 0.5;
			z-index: 1;
		}
	}

	// blog__slider

	&__slider {
		max-width: 600px;
		position: absolute;
		right: 15%;
		z-index: 2;
	}

	// .blog__item

	&__item {
		text-align: left;
		// display: flex;
		// flex-direction: column;
		// align-items: flex-end;
	}

	// .blog__link

	&__link {
	}

	// .blog__item-title

	&__item-title {
		font-weight: 400;
		font-size: 48px;
		line-height: 1.17;
		letter-spacing: 0.6px;
		text-transform: uppercase;
		color: #fff;
		max-width: 600px;
		// display: inline-block;
		// text-align: left;
	}

	// .blog__item-text

	&__item-text {
		letter-spacing: 0.6px;
		color: #fff;
	}
}

.slick-dots {
	display: flex;
	position: absolute;
	top: 277px;
	left: -142px;
}

.slick-dots li {
	&:not(:last-child) {
		margin-right: 15px;
	}
}

.slick-dots button {
	background-color: #fff;
	font-size: 0;
	width: 15px;
	height: 15px;
	border-radius: 50%;
}
.slick-active button {
	background-color: #00b2a0;
}
