@import "_null";

// Основные CSS настройки страницы
body {
	// font-family: "Raleway", sans-serif;
	font-family: "Roboto Condensed", sans-serif;
	background: #fff;
	color: #242121;
	font-weight: 300;
	font-size: 14px;
	line-height: 1.29;
}
.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}
.main {
	flex: 1 1 auto;
}
.none {
	display: none !important;
}
[class*="__container"] {
	max-width: 1220px;
	margin: 0 auto;
	padding: 0px 10px;
}

// Logo
.logo {
	margin-right: 185px;
	// .logo__img

	&__img {
	}
}

// Menu
.menu {
	// .menu__list

	&__list {
		display: flex;
		align-items: center;
		column-gap: 45px;
	}

	// .menu__item

	&__item {
	}

	// .menu__link

	&__link {
		font-weight: 400;
		font-size: 24px;
		line-height: 1.16;
		letter-spacing: 0.6px;
		color: #fff;
		padding-bottom: 5px;
		border-bottom: 1px solid transparent;
		transition: color 0.3s;
		&:hover {
			border-bottom: 1px solid #00b2a0;
		}
	}
}

// Title
.title {
	font-family: "Raleway", sans-serif;
	font-weight: 600;
	font-size: 48px;
	line-height: 1.16;
	letter-spacing: 0.6px;
	color: #01353e;
	padding-bottom: 32px;
	text-transform: uppercase;
	position: relative;
	&::after {
		content: "";
		position: absolute;
		background-image: url(../img/title-decor.png);
		background-repeat: no-repeat;
		width: 48px;
		height: 85px;
		bottom: -15px;
		right: -20px;
	}
}

// Header
.header {
	background: url("../img/header-bg.jpg") 0 0 no-repeat;

	// .header__container

	&__container {
	}

	// .header__top

	&__top {
		display: flex;
		align-items: center;
		padding-top: 45px;
	}

	// .header__content

	&__content {
		display: flex;
		flex-direction: column;
		align-items: center;
		min-height: calc(100vh - 108px);
	}

	// .header__title

	&__title {
		font-family: "Raleway", sans-serif;
		font-weight: 700;
		font-size: 200px;
		line-height: 1.17;
		letter-spacing: 0.6px;
		color: #0d302c;
		margin-top: auto;
	}

	// .header__subtitle

	&__subtitle {
		font-weight: 400;
		font-size: 24px;
		line-height: 1.16;
		letter-spacing: 0.6px;
		color: #000000;
		margin-bottom: auto;
	}

	// .header__icon

	&__icon {
		margin-bottom: 93px;
	}
}

// About
.about {
	padding: 190px 0 200px;
	// text-align: center;

	// .about__container

	&__container {
	}

	// .about__title

	&__title {
		max-width: 891px;
		margin: 0 auto;
		margin-bottom: 96px;
		// text-transform: uppercase;
	}

	// .about__inner

	&__inner {
		display: flex;
		justify-content: space-between;
	}

	// .about__column

	&__column {
		display: flex;
		flex-direction: column;
		row-gap: 30px;
	}

	// .about__text

	&__text {
		max-width: 480px;
		letter-spacing: 0.6px;
	}

	// .about__text--pb18

	&__text--mb18 {
		margin-bottom: 18px;
	}

	// .about__text--pb49

	&__text--mb49 {
		margin-bottom: 49px;
	}
}

// Features
.features {
	background-color: #f8f8f8;
	padding: 200px 0;

	// .features__container

	&__container {
	}

	// .features__title

	&__title {
		max-width: 608px;
		margin: 0 auto;
		margin-bottom: 100px;
		&.title {
			&::after {
				right: -35px;
			}
		}
	}

	// .features__items

	&__items {
		display: flex;
		justify-content: space-between;
		margin-bottom: 103px;
	}

	// .features__item

	&__item {
		display: flex;
		flex-direction: column;
		align-items: center;
		max-width: 350px;
	}

	// .features__item-top

	&__item-top {
		display: flex;
		flex: none;
		column-gap: 10px;
		align-items: center;
		margin-bottom: 15px;
	}

	// .features__item-title

	&__item-title {
		font-weight: 400;
		font-size: 24px;
		letter-spacing: 0.6px;
	}

	// .features__item-title--res

	&__item-title--res {
		line-height: 0.75;
	}

	// .features__item-title--fly

	&__item-title--fly {
		line-height: 1.17;
	}

	// .features__item-title--edu

	&__item-title--edu {
		line-height: 1.17;
	}
	// .features__item-text

	&__item-text {
		letter-spacing: 0.6px;
	}

	// .features__inner

	&__inner {
		display: flex;
		justify-content: space-between;
	}

	// .features__info

	&__info {
		width: 350px;
		flex: none;
	}

	// .features__info-item

	&__info-item {
		padding-top: 8px;
		position: relative;
		&:not(:last-child) {
			margin-bottom: 10px;
		}
		svg {
			display: block;
			margin-bottom: 1px;
		}
		// &::before {
		// 	content: "";
		// 	background-image: url(../img/border-info.svg);
		// 	width: 200px;
		// 	height: 15px;
		// 	position: absolute;
		// 	top: -15px;
		// 	left: 0;
		// }
		span {
			display: block;
			position: absolute;
			right: 45px;
			top: 8px;
			font-weight: 400;
			font-size: 24px;
			line-height: 0.75;
		}
	}

	// .features__text

	&__text {
		max-width: 600px;
		p {
			&:not(:last-child) {
				margin-bottom: 30px;
			}
		}
	}
}
