@charset "UTF-8";
/* Обнуляющий стиль */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

li {
  list-style: none;
}

a {
  color: inherit;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

img {
  vertical-align: top;
}

body,
html {
  height: 100%;
  line-height: 1;
}

/* ================== */
body {
  font-family: "Roboto Condensed", sans-serif;
  background: #fff;
  color: #242121;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.29;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.none {
  display: none !important;
}

[class*=__container] {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0px 10px;
}

.logo {
  margin-right: 185px;
}
.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 45px;
     -moz-column-gap: 45px;
          column-gap: 45px;
}
.menu__link {
  font-weight: 400;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.6px;
  color: #fff;
  padding-bottom: 5px;
  border-bottom: 1px solid transparent;
  -webkit-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}
.menu__link:hover {
  border-bottom: 1px solid #00b2a0;
}

.title {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 48px;
  line-height: 1.16;
  letter-spacing: 0.6px;
  color: #01353e;
  text-transform: uppercase;
  position: relative;
}
.title::after {
  content: "";
  position: absolute;
  background-image: url(../img/title-decor.png);
  background-repeat: no-repeat;
  width: 48px;
  height: 85px;
  bottom: -50px;
  right: -25px;
}

.header {
  background: url("../img/header-bg.jpg") 0 0 no-repeat;
}
.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 45px;
}
.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: calc(100vh - 108px);
}
.header__title {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 200px;
  line-height: 1.17;
  letter-spacing: 0.6px;
  color: #0d302c;
  margin-top: auto;
}
.header__subtitle {
  font-weight: 400;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.6px;
  color: #000000;
  margin-bottom: auto;
}
.header__icon {
  margin-bottom: 93px;
}

.about {
  padding: 190px 0 200px;
}
.about__title {
  max-width: 891px;
  margin: 0 auto;
  margin-bottom: 96px;
  text-transform: uppercase;
}
.about__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.about__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 30px;
}
.about__text {
  max-width: 480px;
  letter-spacing: 0.6px;
}
.about__text--mb18 {
  margin-bottom: 18px;
}
.about__text--mb49 {
  margin-bottom: 49px;
}

.features {
  background-color: #f8f8f8;
  padding: 200px 0;
}
.features__title {
  max-width: 608px;
  margin: 0 auto;
  margin-bottom: 100px;
}
.features__title::after {
  right: -35px;
}
.features__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 103px;
}
.features__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 350px;
}
.features__item-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
}
.features__item-title {
  font-weight: 400;
  font-size: 24px;
  letter-spacing: 0.6px;
}
.features__item-title--res {
  line-height: 0.75;
}
.features__item-title--fly {
  line-height: 1.17;
}
.features__item-title--edu {
  line-height: 1.17;
}
.features__item-text {
  letter-spacing: 0.6px;
}
.features__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.features__info {
  width: 350px;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
}
.features__info-item {
  padding-top: 8px;
  position: relative;
}
.features__info-item:not(:last-child) {
  margin-bottom: 10px;
}
.features__info-item svg {
  display: block;
  margin-bottom: 1px;
}
.features__info-item span {
  display: block;
  position: absolute;
  right: 45px;
  top: 8px;
  font-weight: 400;
  font-size: 24px;
  line-height: 0.75;
}
.features__text {
  max-width: 600px;
}
.features__text p:not(:last-child) {
  margin-bottom: 30px;
}

.benefits {
  background: url("../img/benefits-bg.jpg") right top/50% no-repeat;
}
.benefits__inner {
  padding: 200px 0 147px;
  max-width: 511px;
  margin-right: auto;
}
.benefits__title {
  margin: 0 auto;
  margin-bottom: 100px;
}
.benefits__title::after {
  right: -50px;
}
.benefits__text p:not(:last-child) {
  margin-bottom: 30px;
}

.portfolio {
  padding: 200px 0 0;
  text-align: center;
}
.portfolio__title {
  max-width: 217px;
  margin: 0 auto;
  margin-bottom: 212px;
}
.portfolio__title::after {
  right: -50px;
}
.portfolio__filter {
  text-align: left;
  margin-bottom: 50px;
}
.portfolio__btn {
  font-weight: 400;
  font-size: 24px;
  line-height: 0.75;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  background-color: transparent;
  cursor: pointer;
}
.portfolio__btn:not(:last-child) {
  margin-right: 20px;
}
.portfolio__gallery {
  -webkit-column-count: 2;
     -moz-column-count: 2;
          column-count: 2;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
}
.portfolio__gallery-item {
  margin-bottom: 40px;
  position: relative;
}
.portfolio__gallery-item img {
  display: inline-block;
}
.portfolio__gallery-item img + img {
  margin-left: 36px;
}
.portfolio__gallery-item:hover .portfolio__gallery-link {
  opacity: 0.7;
}
.portfolio__gallery-link {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #333333;
  opacity: 0;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.portfolio__add {
  display: inline-block;
  font-weight: 400;
  font-size: 24px;
  line-height: 0.75;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  border: 1px solid #c4c4c4;
  padding: 24px 91px;
  margin: 10px auto 200px;
}
.portfolio__video {
  background: url("../img/video.jpg") center center/cover no-repeat;
  height: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 200px;
}
.portfolio__video-link {
  cursor: pointer;
}
.portfolio__numbers {
  max-width: 696px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-bottom: 200px;
}
.portfolio__numbers-item {
  font-weight: 700;
  font-size: 64px;
  line-height: 1.17;
  letter-spacing: 0.6px;
  text-align: center;
  color: #01353e;
}
.portfolio__numbers-item span {
  display: block;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.29;
  text-transform: lowercase;
}

.blockquote {
  background-color: #f8f8f8;
  margin-bottom: 200px;
}
.blockquote__text {
  max-width: 575px;
  margin: 0 auto;
  font-style: italic;
  font-weight: 400;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.6px;
  padding: 80px 0;
  position: relative;
}
.blockquote span {
  font-weight: 300;
  font-size: 14px;
  line-height: 1.29;
  position: absolute;
  right: -147px;
  bottom: 62px;
}